<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавить товар</title>
</head>
<body>

<form action="/add_products" method="post">
    <p><input type="text" placeholder="Введите категорию товара" name="category"></p>
    <p><input type="text" placeholder="Введите название товара" name="name"></p>
    <p><input type="number" placeholder="Введите стоимость товара" name="price"></p>
    <p><input type="number" placeholder="Введите количество товара" name="number"></p>
    <p><input type="text" placeholder="Введите наличие товара" name="available"></p>
    <p><input type="text" placeholder="Введите описание товара" name="description"></p>
    <p><input type="submit"></p>


</form>


</body>
</html>